<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <h1><%= @restaurant.name %></h1>
      <p><%= @restaurant.address %></p>

      <div id="reviews">
        <% @restaurant.reviews.each do |review| %>
          <%= render "reviews/review", review: review %>
        <% end %>
      </div>

      <%= render "reviews/form", restaurant: @restaurant, review: @review %>
    </div>
  </div>
</div>

